{% extends 'futbol/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<h2>Acerca de mi</h2>

<p>Hola soy Nicolas Gomez, un estudiante de Programacion con Python me gusta el desarrollo web y el futbol. Este proyecto, Mi web de Futbol, es parte de mi trabajo en CoderHouse, donde estoy aplicando mis habilidades en Python con Django para crear una plataforma que comparta noticias y datos sobre el mundo del futbol.
    
   Me gusta combinar la tecnologia con mi pasion por el deporte para crear esperiencias utiles y divertidas. En este sitio, busco ofrecer informacion actualizada y un espacio para la comunidad de fanaticos del futbol.</p>
{% endblock %}